.textarea {
  width: 50%;
  height: 50vh;
  padding: 20px;
  font-size: 1rem;
}
.down {
  width: 50%;
  height: inherit;
  padding: 20px;
  background-color: blanchedalmond;
}
.body {
  display: flex;
}
.App h1 {
  text-align: center;
  text-transform: uppercase;
}
